@*Copyright (C) 2022  Thibaut Hebert--Henriette
See https://github.com/ThibautHH/Probent-DosAffaires/blob/main/NOTICE for full notice.*@

@{
    ViewData["Title"] = "À propos";
}
<h1>@ViewData["Title"]</h1>

<p>Probent-DosAffaires est un système de gestion de la dosimétrie par affaires et de recoupement des heures de travail sur site
    et de l'exposition engendrée à destination de l'entreprise Probent.</p>
<br/>
<p>Developpé par Thibaut Hebert--Henriette</p>
