@*Copyright (C) 2022  Thibaut Hebert--Henriette
See https://github.com/ThibautHH/Probent-DosAffaires/blob/main/NOTICE for full notice.*@

@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
</div>
